<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} %-5level [thread: %thread] %logger{36}.%M:%L - %msg%n</Pattern>
		</layout>
	</appender>

	<logger name="com.yahoo.sshd" level="INFO" />

	<logger name="org.apache.sshd.server.kex.AbstractDHGServer"
		level="INFO" />
	<logger name="org.apache.sshd.server.kex" level="INFO" />
	<logger name="org.apache.karaf.shell.ssh.KarafPublickeyAuthenticator"
		level="INFO" />
	<logger name="org.apache.sshd.server.session.ServerSession"
		level="INFO" />
	<logger name="org.apache.sshd.common.channel.Window" level="INFO" />
	<logger name="org.apache.sshd.server.session.ChannelSession"
		level="INFO" />
	<logger name="org.apache.sshd.server.channel.ChannelSession"
		level="INFO" />

	<logger name="com.ning.http.client" level="INFO" />

	<logger name="com.yahoo.sshd.authentication.FileTreeWalker"
		level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>